@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Oswald&family=Poppins:wght@400;700;900&display=swap');

$font: 'Montserrat', 'Poppins', 'Oswald', Tahoma, Verdana;
$c-pry: white;
$c-sec: black;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
    .tudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        #esq {
            #arrow {
                display: none;
            }
            height: 100vh;
            background-color: #191919;
            width: 50%;
            color: white;
            font-family: $font;
            #img {
                margin: auto;
                text-align: center;
                padding: 5rem 0rem 2rem 0rem;
                img {
                    border-radius:500px;
                    width: 250px;
                }
                p {
                    padding-top: 1rem;
                    font-size: 25px;
                }
            }
    
            #msg {
                width: 90%;
                margin: auto;
                text-align: center;
                font-size: 15px;
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
    
            #redes {
                a {
                    text-decoration: none;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    p {
                        padding: 1.5rem;
                        margin: 1rem 2rem 2rem 2rem;
                        font-weight: bold;
                        border: 2px solid grey;
                        color: white;
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.05);
                            color: grey;
                        }
                    }
                }
            }
        }
        #dir {
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/logo-loja.jpg);
            background-size: cover;
            #txt {
                margin: auto;
                text-align: center;
                color: white;
                font-family: $font;
                padding-top: 3rem;
                filter: drop-shadow(1px 2px 25px black);
                font-size: 30px;
            }
    
            #cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding:5rem 2rem 3rem 2rem;
                width: 100%;
                #card {
                    border: 1px solid white;
                    padding: 3rem;
                    margin: 0rem 2rem 2rem 1.8rem;
                    border-radius: 50px;
                    text-align: center;
                    width: 35%;
                    /* From https://css.glass */
                    background: rgba(78, 78, 78, 0.35);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(8.9px);
                    -webkit-backdrop-filter: blur(8.9px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.05);
                        background-color: #006aed21;
                    }
                    a {
                        text-decoration: none;
                        p {
                            color: white;
                            font-family: $font;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .tudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        #esq {
            #arrow {
                display: none;
            }
            height: 100vh;
            background-color: #191919;
            width: 50%;
            color: white;
            font-family: $font;
            #img {
                margin: auto;
                text-align: center;
                padding: 5rem 0rem 2rem 0rem;
                img {
                    border-radius:500px;
                    width: 150px;
                }
                p {
                    padding-top: 1rem;
                }
            }
    
            #msg {
                width: 90%;
                margin: auto;
                text-align: center;
                font-size: 15px;
                padding-bottom: 1rem;
            }
    
            #redes {
                a {
                    text-decoration: none;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    p {
                        padding: 1.5rem;
                        margin: 1rem;
                        font-weight: bold;
                        border: 2px solid grey;
                        color: white;
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.05);
                            color: grey;
                        }
                    }
                }
            }
        }
        #dir {
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/logo-loja.jpg);
            background-size: cover;
            #txt {
                margin: auto;
                text-align: center;
                color: white;
                font-family: $font;
                padding-top: 4rem 1rem 4rem 1rem;
                h1 {
                    font-size: 45px;
                }
            }
    
            #cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 1rem;
                width: 100%;
                #card {
                    border: 1px solid white;
                    padding: 3rem;
                    margin: 1rem;
                    border-radius: 50px;
                    text-align: center;
                    width: 25%;
                    /* From https://css.glass */
                    background: rgba(78, 78, 78, 0.35);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(8.9px);
                    -webkit-backdrop-filter: blur(8.9px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.05);
                        background-color: #006aed21;
                    }
                    a {
                        text-decoration: none;
                        p {
                            color: white;
                            font-family: $font;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .tudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        background-position: center;
        #esq {
            #arrow {
                display: grid;
                place-items: center;
                img {
                    padding-top: 2rem;
                    width: 100px;
                }
            }
            width: 100%;
            #img {
                padding-top: 7.5rem;
            }
        }

        #dir {
            display: flex;
            flex-direction: column;
            height: auto;
            #txt {
                h1 {
                    font-size: 30px;
                }
            }

            #cards {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
                #card {
                    width: 100%;
                    padding: 2rem;
                    margin: 1rem 0 1rem 0;
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .tudo {
        #esq {
                #img {
                padding-top: 2.5rem;
            }
        }

        #dir {
            #txt {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .tudo {
        #esq {
            height: auto;
            #img {
                padding-top: 1.5rem;
                img {
                    width: 100px;
                }
                p {
                    font-size: 20px;
                    padding-bottom: 0;
                }
            }
            #msg {
                padding-top: 0;
                padding-bottom: 1rem;
                width: 95%;
            }
            #redes {
                a {
                    p {
                        padding: 0.69rem
                    }
                }
            }
            #arrow {
                img {
                    padding-top: 0;
                    margin: 1rem;
                }
            }
        }
    }
}