@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Oswald&family=Poppins:wght@400;700;900&display=swap');

$font: 'Montserrat', 'Poppins', 'Oswald', Tahoma, Verdana;
$c-pry: white;
$c-sec: black;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
    .container {
        height: 100vh;
        width: 100%;
        background-color: #292929;
        font-family: $font;
        display: flex;
        flex-direction: row;
        align-items: center;
        #side {
            #img {
                padding-top: 6.6rem;
                img {
                    border-radius: 100px;
                    margin-bottom: 2.5rem;
                }
            }
            #msg {
                width: 90%;
                margin: auto;
            }
            margin: auto;
            text-align: center;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            color: $c-pry;
            background-color: #414141;
            width: 25%;
    
            #redes {
                margin: auto;
                width: 90%;
                height: 50%;
                a {
                    text-decoration: none;
                    color: $c-pry;
                    font-weight: bold;
                    margin: 1rem;
                    p {
                        border: 2px solid #fff;
                        padding: 1rem;
                        background-color: rgb(114, 114, 114);
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    
        #consultores {
            position: fixed;
            left: 385px;
            top: 150px;
            width: 100%;
            h2 {
                position: absolute;
                bottom: 500px;
                left: 285px;
                color: white;
                margin: auto;
                text-align: center;
                font-size: 55px;
            }
    
            #cards {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 85%;
                #card {
                    background-color: #191919;
                    padding: 5rem;
                    margin: 1rem;
                    width: 15%;
                    border-radius: 55px;
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.05);
                    }
                    p {
                        text-align: center;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    
        #footer {
            position: fixed;
            left:1055px;
            bottom: 51px;
            width: 50%;
            display: flex;
            flex-direction: row;
            a {
                width: 100%;
                text-decoration: none;
                #sac {
                    width: 300px;
                    text-decoration: none;
                    color: white;
                    text-align: center;
                    border: 2px solid white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 1rem;
                }
            }
        }
    }
}